<button class="open-dialog-button" (click)="showDialog()">
  <svg appGearSvg></svg>
</button>

<span class="app-control-label">PARÁMETROS</span>

<dialog class="dialog" #parametersConfigDialog cdkDrag>
  <div class="content">
    <div class="header">
      <svg appBurgerSvg color="black" class="drag-dialog-handler" cdkDragHandle></svg>
      <span class="title">PARÁMETROS</span>
      <svg appPlusSvg class="close-dialog-button" (click)="parametersConfigDialog.close()"></svg>
    </div>

    <form>
      <div class="app-label-and-input scale">
        <span class="app-control-label">ESCALA</span>

        <div class="labels-and-inputs">
          <div class="alt">
            <span>alt</span>
            <input type="text" jeiInputNumber [min]="1" [formControl]="formsService.scaleAltForm" />
          </div>

          <div class="normal">
            <span>normal</span>
            <input type="text" jeiInputNumber [min]="1" [formControl]="formsService.scaleNormalForm" />
          </div>

          <div class="shift">
            <span>shift</span>
            <input type="text" jeiInputNumber [min]="1" [formControl]="formsService.scaleShiftForm" />
          </div>
        </div>
      </div>

      <div class="app-label-and-input move">
        <span class="app-control-label">MOVER FIGURAS</span>

        <div class="labels-and-inputs">
          <div class="alt">
            <span>alt</span>
            <input type="text" jeiInputNumber [formControl]="formsService.moveAltForm" />
          </div>

          <div class="normal">
            <span>normal</span>
            <input type="text" jeiInputNumber [formControl]="formsService.moveNormalForm" />
          </div>

          <div class="shift">
            <span>shift</span>
            <input type="text" jeiInputNumber [formControl]="formsService.moveShiftForm" />
          </div>
        </div>
      </div>

      <div class="app-label-and-input decimal-precision">
        <span class="app-control-label">PRECISIÓN DECIMALES</span>

        <input type="text" jeiInputNumber [min]="0" [max]="5" [altStep]="1" [shiftStep]="1" [maxDecimalDigits]="0" [formControl]="formsService.decimalPrecisionForm" />
      </div>
    </form>
  </div>
</dialog>
