<app-toolbar></app-toolbar>

<div class="editor-layout">
  <app-canvas class="left-layout"></app-canvas>

  <div class="right-layout">
    <app-attributes></app-attributes>

    <app-shape-list (openBindingsDialog)="bindingsDialog.showModal()"></app-shape-list>
  </div>

  <dialog class="bindings-dialog" #bindingsDialog cdkDrag>
    <div class="content">
      <div class="header">
        <!-- TODO remember to create the binding in the SvgIcons repository -->
        <svg appBurgerSvg color="black" class="drag-dialog-handler" cdkDragHandle></svg>
        <span class="title">BINDINGS</span>
        <svg appPlusSvg class="close-dialog-button" (click)="bindingsDialog.close()"></svg>
      </div>

      <p class="info-message">Define el atributo SVG y el nombre del @Input.</p>

      <ul>
        <div class="two-columns">
          <div class="column-1 column-1--title">ATRIBUTO</div>
          <div class="column-2 column-2--title">@INPUT</div>
        </div>

        @for (bindingControl of bindingsForm.controls; track $index) {
          <li>
            <label [formGroup]="bindingControl" class="two-columns">
              <input type="text" class="column-1 column-1--input" formControlName="attribute" />
              <svg appPlusSvg color="red" class="delete-binding" (click)="deleteBinding($index)"></svg>
              <input type="text" class="column-2 column-2--input" formControlName="binding" />
            </label>
          </li>
        }
      </ul>

      <svg appPlusSvg color="gray" class="add-binding" (click)="addNewBinding()"></svg>
    </div>
  </dialog>
</div>
