@use '../styles/dialogs';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset; // override host dialogs
  gap: 40px;
}

.editor-layout {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  padding: 0 50px 25px 50px;
  overflow: hidden;

  .left-layout {
    flex-grow: 1;
  }

  .right-layout {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    min-width: 500px;
    overflow: auto;
  }
}

.bindings-dialog {
  .info-message {
    color: #909090;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    .two-columns {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .column-1,
      .column-2 {
        flex: 1;

        &--title {
          align-self: center;
          text-align: center;
          font-size: 0.9rem;
          font-weight: 700;
          color: #595959;
        }

        &--input {
          text-align: start;
        }
      }

      .delete-binding {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        cursor: pointer;
        width: 25px;
        background-color: white;
        border-radius: 50%;
      }

      &:hover .delete-binding {
        display: block;
      }
    }
  }

  .add-binding {
    width: 25px;
    align-self: center;
    border: 2px solid gray;
    border-radius: 50%;
    padding: 3px;
    margin-top: 6px;
    cursor: pointer;
  }
}
