<app-toolbar></app-toolbar>

<div class="editor-layout">
  <app-canvas class="left-layout"></app-canvas>

  <div class="right-layout">
    <app-attributes></app-attributes>

    <app-shape-list (openBindingsDialog)="bindingsDialog.showModal()"></app-shape-list>
  </div>

  <dialog class="bindings-dialog" #bindingsDialog>
    <div class="content">
      <button class="close-dialog-button" (click)="bindingsDialog.close()"></button>

      <p class="info-message">Escribe el nombre de la propiedad de la directiva para editar los atributos:</p>

      <ul>
        <li>
          <label>
            <span>STROKE</span>
            <input type="text" [formControl]="strokeBindingForm" />
          </label>
        </li>

        <li>
          <label>
            <span>FILL</span>
            <input type="text" [formControl]="fillBindingForm" />
          </label>
        </li>

        <li>
          <label>
            <span>STROKE-WIDTH</span>
            <input type="text" [formControl]="strokeWidthBindingForm" />
          </label>
        </li>

        <li>
          <label>
            <span>STROKE-DASHARRAY</span>
            <input type="text" [formControl]="strokeDasharrayBindingForm" />
          </label>
        </li>
      </ul>
    </div>
  </dialog>
</div>
