<jei-collapsible [formGroup]="rectHost.form" [isOpen]="true" #collapsible>
  <app-shape-invoker jeiCollapsibleToggleAction [host]="rectHost" [isExpanded]="collapsible.isOpen"></app-shape-invoker>

  <div jeiCollapsibleContent>
    <form (click)="selectShape($event)">
      <label class="app-label-and-input">
        <span class="app-control-label">X</span>
        <input type="text" jeiInputNumber formControlName="x">
      </label>

      <label class="app-label-and-input">
        <span class="app-control-label">Y</span>
        <input type="text" jeiInputNumber formControlName="y">
      </label>

      <label class="app-label-and-input">
        <span class="app-control-label">WIDTH</span>
        <input type="text" jeiInputNumber [min]="0" formControlName="width">
      </label>

      <label class="app-label-and-input">
        <span class="app-control-label">HEIGHT</span>
        <input type="text" jeiInputNumber [min]="0" formControlName="height">
      </label>

      <label class="app-label-and-input">
        <span class="app-control-label">RX</span>
        <input type="text" jeiInputNumber [min]="0" formControlName="rx">
      </label>

      <label class="app-label-and-input">
        <span class="app-control-label">RY</span>
        <input type="text" jeiInputNumber [min]="0" formControlName="ry">
      </label>
    </form>
  </div>
</jei-collapsible>