@import "../../styles/panels";

.texto-svg {
  textarea {
    border: var(--border);
    height: 200px;
    resize: none;
    white-space: nowrap;
  }

  .load-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff6363ff;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  }
}

.file-svg {
  .mock-input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 90px;
    border-radius: 5px;
    border: var(--border);
    padding: 5px 10px;
    cursor: pointer;
  }
}
