<button class="open-dialog-button" (click)="showDialog()">
  <svg appExportSvg></svg>
</button>

<span class="app-control-label">EXPORTAR</span>

<dialog class="dialog" #exportSvgDialog cdkDrag>
  <div class="content">
    <div class="header">
      <svg appBurgerSvg color="black" class="drag-dialog-handler" cdkDragHandle></svg>
      <span class="title">EXPORTAR</span>
      <svg appPlusSvg class="close-dialog-button" (click)="exportSvgDialog.close()"></svg>
    </div>

    <form [formGroup]="exportSvgForm">
      <div class="form-element format">
        <span class="app-control-label">FORMATO</span>

        <div class="export-radio-buttons-container">
          <label class="mock-radio-button">
            <input type="radio" formControlName="format" [value]="ExportTypes.SvgOptimized" />
            <span>SVG Optimizado</span>
          </label>

          <label class="mock-radio-button">
            <input type="radio" formControlName="format" [value]="ExportTypes.Svg" />
            <span>SVG</span>
          </label>

          <label class="mock-radio-button">
            <input type="radio" formControlName="format" [value]="ExportTypes.Png" />
            <span>PNG</span>
          </label>
        </div>

        @if (exportSvgForm.controls.format.value === ExportTypes.SvgOptimized) {
          <p class="info-message">Descarga un fichero .svg con las figuras optimizadas, es decir, con las figuras visibles y con los atributos mínimos.</p>
        }

        @if (exportSvgForm.controls.format.value === ExportTypes.Svg) {
          <p class="info-message">
            Descarga un fichero .svg con las figuras tal y como están en el DOM. Mantiene todos los atributos y permite importalo más adelante para continuar.
          </p>
        }

        @if (exportSvgForm.controls.format.value === ExportTypes.Png) {
          <p class="info-message">Descarga un fichero .png con el tamaño indicado.</p>
          <div class="png-inputs" formGroupName="pngSize">
            <input type="text" jeiInputNumber [min]="0" [shiftStep]="20" [maxDecimalDigits]="0" formControlName="width" />
            <span> x </span>
            <input type="text" jeiInputNumber [min]="0" [shiftStep]="20" [maxDecimalDigits]="0" formControlName="height" />
            <span> px</span>
          </div>
        }
      </div>

      <div class="form-element file-name">
        <span class="app-control-label">NOMBRE DEL FICHERO</span>

        <div class="input-and-button">
          <input type="text" [placeholder]="DEFAULT_DOWNLOAD_FILE_NAME" formControlName="fileName" />

          <button class="download-button" (click)="downloadDrawing()">Descargar</button>
        </div>
      </div>
    </form>
  </div>
</dialog>
