<app-collapsible [isOpen]="linePainter.isShapeSelected()">
  <div class="invoker" [class.selected]="linePainter.isShapeSelected()">
    <span cdkDragHandle (click)="$event.stopPropagation()">&#x2630;</span>

    <input class="shape-name" (click)="$event.stopPropagation()"
      [formControl]="getAsFormControl(linePainter.options.controls['name'])">

    <span class="delete-icon" (click)="onDeleteShape($event)">🗑️</span>
  </div>

  <form appCollapsibleContent [formGroup]="linePainter.options">
    <div class="shape-options-form">
      <label>
        <span>X1</span>
        <input type="number" formControlName="x1" (click)="$event.stopPropagation()">
      </label>

      <label>
        <span>Y1</span>
        <input type="number" formControlName="y1" (click)="$event.stopPropagation()">
      </label>

      <label>
        <span>X2</span>
        <input type="number" formControlName="x2" (click)="$event.stopPropagation()">
      </label>

      <label>
        <span>Y2</span>
        <input type="number" formControlName="y2" (click)="$event.stopPropagation()">
      </label>
    </div>
  </form>
</app-collapsible>