:host {
  display: block;
  border: var(--border);
  border-radius: 5px;

  &.selected {
    background-color: #f0f1f2;
    border-left: var(--border);
  }

  .invoker {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &.selected {
      border-bottom: var(--border);
    }

    .shape-name {
      margin-left: 15px;
      flex-grow: 1;
    }
  }
}

.shape-options-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: border-box;
  padding: 10px;
}
