<span class="handler">&#x2630;</span>

<label class="visibility">
  <input type="checkbox" checked (change)="toggleVisibility($event)" />
  @if (shapeHost.svg.style.display === '') {
    <span>👁️</span>
  } @else {
    <span>👻</span>
  }
</label>

<span class="bindings" (click)="openBindingsDialog.emit()">✨</span>

<input #shapeName class="shape-name" (input)="adaptShapeNameSize($event)" [formControl]="nameForm" (focus)="selectShape($event)" />

<span class="remaining-space"></span>

<span class="trash-can" (click)="onDeleteShape($event)">🗑️</span>
