@if (isZoomModified) {
  <div class="viewbox">
    <span>viewbox:</span>
    <span>{{ currentViewBox.x }}</span>
    <span>{{ currentViewBox.y }}</span>
    <span>{{ currentViewBox.width }}</span>
    <span>{{ currentViewBox.height }}</span>
    <button (click)="resetViewBox()">reset</button>
  </div>
}

<svg
  id="canvas"
  viewBox="0 0 100 100"
  jeiElementRef="canvas"
  jeiSvgMouseEvents
  (jeiSvgMouseDown)="onMouseDown($event)"
  (jeiSvgMouseDrag)="onMouseDrag($event)"
  (jeiSvgMouseUp)="onMouseUp($event)"
  (jeiSvgMouseMove)="onMouseMove($event)"
  (jeiSvgMouseWheel)="onWheel($event)"
></svg>
