:host {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;

  --border: 1px solid #bbbfc5;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #595959;
  position: relative;
  cursor: pointer;

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    /* hide arrows */
    -webkit-appearance: none;
  }

  input[type="text"],
  input[type="number"] {
    height: 40px;
    width: 90px;
    padding: 0 8px;
    border: var(--border);
    border-radius: 5px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
  }

  input[type="number"]:focus {
    border: 3px solid black;
  }

  input[type="file"],
  input[type="color"],
  input[type="radio"] {
    /* make them no visible */
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .mock-input-color {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: var(--border);
  }

  .mock-input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 90px;
    border-radius: 5px;
    border: var(--border);
    padding: 0 10px;
  }
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
  width: calc(50% - 10px);

  #canvas {
    width: 100%;
    max-width: 50vw;
    max-height: 90vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    user-select: none;
  }

  .canvas-message {
    color: #909090;
    font-size: 1rem;
  }

  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .download-button {
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: orange;
      cursor: pointer;
    }
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  width: calc(50% - 10px);

  .canvas-config-options {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .shapes-radio-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    label {
      padding: 5px 10px;
      border: var(--border);
      border-radius: 5px;
      flex: 1;
      text-align: center;

      &:has(:checked) {
        background-color: #f0f1f2;
      }
    }
  }

  .common-shape-options {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  .shape-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .shape-collapsible {
      border: var(--border);
      border-radius: 5px;

      &.selected {
        background-color: #f0f1f2;
        border-left: var(--border);
      }

      .invoker {
        padding: 10px;

        &.selected {
          border-bottom: var(--border);
        }
      }

      .shape-options {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 10px;
      }
    }
  }
}
