<div class="canvas-and-buttons-container">
  <canvas id="canvas" #canvas>
    Tu navegador no admite el elemento &lt;canvas&gt;.
  </canvas>

  <div class="buttons-container">
    <button>Descargar svg</button>
    <button>Descargar png</button>
  </div>
</div>

<form class="panel-options-container">
  <div>
    Subir imagen de fondo: <input type="file" name="background-image" (change)="onUpdateBackgroundImage($event)">
  </div>

  <div>
    <!-- TODO cambiar por el tamaño de la imagen en px o el viewbox del svg, y calcular el aspect ratio a partir de ello -->
    Relación de aspecto:
    <input type="number" min="1" id="aspect-ratio-width-input" name="aspect-ratio-width" [(ngModel)]="aspectRatioWidth"
      (ngModelChange)="onChangeAspectRatio()">
    :
    <input type="number" min="1" id="aspect-ratio-height-input" name="aspect-ratio-height" [(ngModel)]="aspectRatioHeight"
      (ngModelChange)="onChangeAspectRatio()">
  </div>

  <div class="shapes-container">
    <div>Figuras</div>

    <div class="options-container">
      <label><input type="radio" name="shape" value="rect" [(ngModel)]="selectedShape">rect</label>
      <label><input type="radio" name="shape" value="line" [(ngModel)]="selectedShape">line</label>
      <label><input type="radio" name="shape" value="path" [(ngModel)]="selectedShape">path</label>
      <label><input type="radio" name="shape" value="circle" [(ngModel)]="selectedShape">circle</label>
      <label><input type="radio" name="shape" value="text" [(ngModel)]="selectedShape">text</label>
      <label><input type="radio" name="shape" value="cubic-bezier" [(ngModel)]="selectedShape">cubic bezier</label>
    </div>
  </div>

  <div class="shape-options-container">
    <div *ngIf="selectedShape === 'rect'" class="rect-options">
      <label>x1: <input type="number"></label>

      <label>x2: <input type="number"></label>

      <label>width: <input type="number"></label>

      <label>height: <input type="number"></label>

      <label>round corner x: <input type="number"></label>

      <label>round corner y: <input type="number"></label>
    </div>
  </div>
</form>