<div class="left-side">
  <svg id="canvas" #canvas>
  </svg>

  <div class="canvas-message"
    *ngIf="shapePainter && shapePainter.isShapeType(Shape.PATH) && shapePainter.isShapeStarted() && !shapePainter.isShapeCompleted()">
    Presiona la tecla F para terminar la figura y empezar una nueva.
  </div>

  <div class="buttons-container">
    <button class="download-button" (click)="downloadSvg()">Descargar svg</button>
    <button class="download-button" (click)="downloadPng()">Descargar png</button>
  </div>
</div>

<form class="right-side">
  <div class="canvas-config-options">
    <label>
      <span>FONDO</span>
      <input type="file" (change)="onUpdateBackgroundImage($event)">
      <div class="mock-input-file">{{backgroundImageFile?.name ?? 'Selecciona un fondo'}}</div>
    </label>

    <label>
      <span>TAMAÑO LIENZO</span>
      <div>
        <input type="number" min="1" id="canvas-width-input" name="canvas-width" [(ngModel)]="canvasWidth"
          (ngModelChange)="onChangeCanvasSize()">
        :
        <input type="number" min="1" id="canvas-height-input" name="canvas-height" [(ngModel)]="canvasHeight"
          (ngModelChange)="onChangeCanvasSize()">
      </div>
    </label>
  </div>

  <label for="shape">
    <span>FIGURAS</span>

    <div class="shapes-radio-buttons-container">
      <label>
        <input type="radio" name="shape" [value]="Shape.RECT" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>rect</span>
      </label>

      <label>
        <input type="radio" name="shape" [value]="Shape.LINE" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>line</span>
      </label>

      <label>
        <input type="radio" name="shape" [value]="Shape.PATH" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>path</span>
      </label>

      <label>
        <input type="radio" name="shape" [value]="Shape.CIRCLE" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>circle</span>
      </label>

      <label>
        <input type="radio" name="shape" [value]="Shape.TEXT" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>text</span>
      </label>

      <label>
        <input type="radio" name="shape" [value]="Shape.CUBIC_BEZIER" [(ngModel)]="shapeToDraw"
          (ngModelChange)="onChangeShapeToDraw()">
        <span>cubic bezier</span>
      </label>
    </div>
  </label>

  <form class="common-shape-options" *ngIf="shapePainter" [formGroup]="shapePainter.options">
    <label>
      <span>STROKE WIDTH</span>
      <input type="number" min="0" formControlName="strokeWidth">
    </label>

    <label>
      <span>STROKE</span>
      <input type="color" formControlName="stroke">
      <div class="mock-input-color" [style]="{backgroundColor: shapePainter.options.controls['stroke'].value}"></div>
    </label>

    <label>
      <span>FILL</span>
      <input type="color" formControlName="fill">
      <div class="mock-input-color" [style]="{backgroundColor: shapePainter.options.controls['fill'].value}"></div>
    </label>
  </form>

  <div class="shape-list">
    <ng-container *ngFor="let shapePainter of shapeList">
      <app-rect-form (onShapeSelected)="selectShapePainter($event)" [rectPainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.RECT)">
      </app-rect-form>

      <app-circle-form (onShapeSelected)="selectShapePainter($event)" [circlePainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.CIRCLE)">
      </app-circle-form>

      <app-line-form (onShapeSelected)="selectShapePainter($event)" [linePainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.LINE)">
      </app-line-form>

      <app-path-form (onShapeSelected)="selectShapePainter($event)" [pathPainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.PATH)">
      </app-path-form>

      <app-text-form (onShapeSelected)="selectShapePainter($event)" [textPainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.TEXT)">
      </app-text-form>

      <app-cubic-bezier-form (onShapeSelected)="selectShapePainter($event)" [cubicBezierPainter]="shapePainter"
        *ngIf="shapePainter.isShapeType(Shape.CUBIC_BEZIER)">
      </app-cubic-bezier-form>
    </ng-container>
  </div>
</form>