:host {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.canvas-and-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
  width: calc(50% - 10px);

  #canvas {
    width: 100%;
    max-width: 50vw;
    max-height: 90vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    user-select: none;
  }

  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    button {
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: orange;
      cursor: pointer;
    }
  }
}

.panel-options-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  width: calc(50% - 10px);

  #canvas-width-input,
  #canvas-height-input {
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }

  .shapes-container {
    .options-container {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      label {
        padding: 5px 10px;
        background-color: rgb(244, 244, 244);
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;

        input {
          appearance: none;
          position: fixed;
          opacity: 0;
          pointer-events: none;
        }

        &:has(:checked) {
          background-color: orange;
        }
      }
    }
  }

  .shape-options-container {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
  }

  .rect-options,
  .line-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    input {
      width: 40px;
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
    }
  }

  .shape-list {
    border: 2px solid black;
    border-radius: 5px;
    max-height: 50vh;
    overflow: auto;

    .shape-item {
      padding: 10px 5px;
      background-color: aliceblue;

      &:hover {
        background-color: rgb(168, 214, 255);
        cursor: pointer;
      }

      &.selected {
        background-color: rgb(168, 196, 255);
      }
    }
  }
}
