<app-collapsible [isOpen]="textPainter.isShapeSelected()">
  <div class="invoker" [class.selected]="textPainter.isShapeSelected()">
    <span cdkDragHandle (click)="$event.stopPropagation()">&#x2630;</span>

    <input class="shape-name" (click)="$event.stopPropagation()"
      [formControl]="getAsFormControl(textPainter.options.controls['name'])">

    <span class="delete-icon" (click)="onDeleteShape($event)">🗑️</span>
  </div>

  <form appCollapsibleContent [formGroup]="textPainter.options">
    <div class="shape-options-form">
      <label class="app-label-and-input">
        <span class="app-label-name">X</span>
        <input type="number" formControlName="x" (click)="$event.stopPropagation()">
      </label>

      <label class="app-label-and-input">
        <span class="app-label-name">Y</span>
        <input type="number" formControlName="y" (click)="$event.stopPropagation()">
      </label>

      <label class="app-label-and-input">
        <span class="app-label-name">TEXT</span>
        <input type="text" formControlName="text" (click)="$event.stopPropagation()">
      </label>

      <label class="app-label-and-input">
        <span class="app-label-name">FONT SIZE</span>
        <input type="number" formControlName="fontSize" (click)="$event.stopPropagation()">
      </label>
    </div>
  </form>
</app-collapsible>