<ul cdkDropList (cdkDropListDropped)="onReorderingShapes($event)">
  @for (shape of shapes; track shape) {
    @if (shape.type === Shape.RECT) {
      <app-rect-form cdkDrag cdkDragPreviewContainer="parent" [host]="shape">
        <div *cdkDragPlaceholder></div>
      </app-rect-form>
    }
    @if (shape.type === Shape.LINE) {
      <app-line-form cdkDrag cdkDragPreviewContainer="parent" [host]="shape">
        <div *cdkDragPlaceholder></div>
      </app-line-form>
    }
    @if (shape.type === Shape.PATH) {
      <app-path-form cdkDrag cdkDragPreviewContainer="parent" [host]="shape">
        <div *cdkDragPlaceholder></div>
      </app-path-form>
    }
    @if (shape.type === Shape.CIRCLE) {
      <app-circle-form cdkDrag cdkDragPreviewContainer="parent" [host]="shape">
        <div *cdkDragPlaceholder></div>
      </app-circle-form>
    }
    @if (shape.type === Shape.TEXT) {
      <app-text-form cdkDrag cdkDragPreviewContainer="parent" [host]="shape">
        <div *cdkDragPlaceholder></div>
      </app-text-form>
    }
  }
</ul>
