<div class="header">
  <button (click)="newGroup()">
    <svg appPlusSvg></svg>
    Nuevo grupo
  </button>

  <button (click)="duplicateShape()">
    <!-- TODO update icon -->
    <svg appPlusSvg></svg>
    Duplicar
  </button>
</div>

<div class="cdk-drag-boundary" cdkDropList [cdkDropListData]="groups" (cdkDropListDropped)="onReorderingGroups($event)">
  <ul cdkDropListGroup>
    @for (group of groups; track group) {
      <li cdkDrag cdkDragBoundary=".cdk-drag-boundary" cdkDragPreviewContainer="parent" cdkDragLockAxis="y">
        <app-shape-group [group]="group"></app-shape-group>
      </li>
    }
  </ul>
</div>
