<app-collapsible [isOpen]="true">
  <span appCollapsibleToggleAction>
    <svg viewBox="0 0 100 100">
      <rect stroke-width="1" stroke="#d8a72c" fill="#d8a72c" x="0" y="0" width="100" height="100" rx="25" ry="25" />
      <circle stroke-width="1" stroke="#FFFFFF" fill="#FFFFFF" cx="50" cy="50" r="40" />
      <path stroke-width="1" stroke="#d8a72c" fill="#d8a72c" d="M45,25L55,25 55,45 65,45 50,60 35,45 45,45Z" />
      <path stroke-width="1" stroke="#d8a72c" fill="#d8a72c" d="M28,55L35,55 35,65 65,65 65,55 72,55 72,70 28,70Z" />
    </svg>

    <span class="app-label-name">EXPORTAR</span>
  </span>

  <div appCollapsibleContent>
    <div class="wrapper" [formGroup]="downloadFileNameForm">
      <p class="message">
        La imagen de fondo no es exportada, es solo una referencia para realizar el dibujo.
      </p>

      <div class="app-label-and-input">
        <span class="app-label-name">DESCARGAR SVG OPTIMIZADO</span>

        <div>
          <p class="message">
            Esta opción descarga el svg sin nombres y con los atributos mínimos. Usa esta opción si vas a incluir el svg
            en tu aplicación.
          </p>

          <div class="input-and-download">
            <input type="text" [placeholder]="DEFAULT_DOWNLOAD_FILE_NAME + '.svg'" formControlName="optimizedSvg">

            <button class="download-button" (click)="downloadOptimizedSvg()">
              Descargar
            </button>
          </div>
        </div>
      </div>

      <div class="app-label-and-input">
        <span class="app-label-name">DESCARGAR SVG</span>

        <div>
          <p class="message">
            Esta opción descarga el svg tal cual está ahora mismo en el DOM. Se puede utilizar para volver a importarlo
            después y conservar los nombres de las figuras.
          </p>

          <div class="input-and-download">
            <input type="text" [placeholder]="DEFAULT_DOWNLOAD_FILE_NAME + '.svg'" formControlName="svg">

            <button class="download-button" (click)="downloadSvg()">
              Descargar
            </button>
          </div>
        </div>
      </div>

      <div class="app-label-and-input">
        <span class="app-label-name">DESCARGAR PNG</span>

        <div>
          <p class="message">
            Esta opción descarga el dibujo en una imagen PNG del tamaño del viewBox del SVG.
            <!-- TODO allow to select size in size-panel?? and show the current size here? {{widthPng}} {{heightPng}} -->
          </p>

          <div class="input-and-download">
            <input type="text" [placeholder]="DEFAULT_DOWNLOAD_FILE_NAME + '.png'" formControlName="png">

            <button class="download-button" (click)="downloadPng()">
              Descargar
            </button>
          </div>
        </div>
      </div>

      <!-- TODO add option to import svg file, or create an import-panel that shows erros if the svg is not valid? -->
    </div>
  </div>
</app-collapsible>