:host {
  display: block;
  border: var(--border);
  border-radius: 5px;
  transition: background-color 0.5s;
  background-color: white;

  &.selected {
    border-color: orange;
    border-width: 2px;
  }

  &.expanded {
    background-color: #f0f1f2;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;

  .app-label-and-input {
    text-align: center;
  }
}
