<div class="shapes">
  <!-- rect -->
  <label>
    <input [formControl]="form" checked type="radio" name="shape" [value]="Shape.RECT">
    <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <rect x="1" y="1" width="8" height="8" stroke="black" fill="transparent" />
    </svg>
  </label>

  <!-- line -->
  <label>
    <input [formControl]="form" type="radio" name="shape" [value]="Shape.LINE">
    <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.9" y1="9.1" x2="9.1" y2="0.9" stroke="black" stroke-linecap="round"></line>
    </svg>
  </label>

  <!-- path -->
  <label>
    <input [formControl]="form" type="radio" name="shape" [value]="Shape.PATH">
    <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.9,9.1C2,-6 8,16 9.1,0.9" stroke="black" stroke-linecap="round" fill="none"></path>
    </svg>
  </label>

  <!-- circle -->
  <label>
    <input [formControl]="form" type="radio" name="shape" [value]="Shape.CIRCLE">
    <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="4" stroke="black" fill="transparent"></circle>
    </svg>
  </label>

  <!-- text -->
  <label>
    <input [formControl]="form" type="radio" name="shape" [value]="Shape.TEXT">
    <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <rect stroke="transparent" fill="black" x="0.7" y="0.8" width="8.6" height="1"></rect>
      <rect stroke="transparent" fill="black" x="4.5" y="1.5" width="1" height="7.7"></rect>
    </svg>
  </label>
</div>

<span class="app-control-label">ELEMENTO SVG</span>