@use '../../../styles/dialogs';
@use '../../../styles/mock-input-checkbox';

.view-box {
  .inputs-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;

    input {
      max-width: 60px;
    }
  }
}

.choose-image {
  .info-message {
    color: #909090;
    font-size: 1rem;
    margin: 0;
  }

  .mock-input-and-delete-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .mock-input-file {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      min-width: 90px;
      border-radius: 5px;
      border: var(--border);
      padding: 5px 10px;
      cursor: pointer;
    }

    .delete-icon {
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

.grid,
.show-hide {
  --not-checked-icon: '👻';
  --checked-icon: '👁️';
}
