<button class="open-dialog-button" (click)="showDialog()">
  <svg appCanvasSvg></svg>
</button>

<span class="app-control-label">LIENZO</span>

<dialog class="dialog" #canvasOptionsDialog>
  <div class="content">
    <button class="close-dialog-button" (click)="canvasOptionsDialog.close()"></button>

    <form>
      <!-- size -->

      <div class="form-element view-box">
        <span class="app-control-label">TAMAÑO - VIEW BOX</span>

        <div class="inputs-wrapper" [formGroup]="canvasOptionsViewBoxForm">
          <input type="text" jeiInputNumber formControlName="x" />
          <span>:</span>
          <input type="text" jeiInputNumber formControlName="y" />
          <span>:</span>
          <input type="text" jeiInputNumber [min]="0" formControlName="width" />
          <span>:</span>
          <input type="text" jeiInputNumber [min]="0" formControlName="height" />
        </div>
      </div>

      <!-- background -->

      <div class="form-element choose-image">
        <span class="app-control-label">FONDO - IMAGEN GUÍA</span>

        <p class="info-message">La imagen de fondo no se exporta. Es solo una ayuda para realizar el dibujo.</p>

        <div class="mock-input-and-delete-wrapper">
          <label>
            <input type="file" (change)="onUpdateBackgroundImage()" jeiElementRef="backgroundImageInputEl" />
            <div class="mock-input-file">{{ backgroundImageFile?.name ?? 'Selecciona un fondo' }}</div>
          </label>

          @if (backgroundImageFile) {
            <span class="delete-icon" (click)="deleteBackground()">❌</span>
          }
        </div>
      </div>

      <div class="form-element show-hide">
        <span class="app-control-label">FONDO - MOSTRAR / OCULTAR</span>

        <label class="mock-input-checkbox">
          <input type="checkbox" checked (change)="toggleBackgroundImage()" />
        </label>
      </div>
    </form>
  </div>
</dialog>
