<app-collapsible [isOpen]="pathPainter.isShapeSelected()" [formGroup]="pathPainter.options">
  <div class="invoker" [class.selected]="pathPainter.isShapeSelected()">
    <span cdkDragHandle (click)="$event.stopPropagation()">&#x2630;</span>
    <span class="shape-name">{{pathPainter.options.controls['name'].value}}</span>
    <span class="delete-icon" (click)="onDeleteShape($event)">🗑️</span>
  </div>

  <form appCollapsibleContent formArrayName="commands">
    <div class="shape-options-form">
      <label *ngFor="let control of getAsFormArray(pathPainter.options.controls['commands']).controls; let i = index"
        formGroupName="{{i}}" class="command" (mouseover)="mouseHoverIndex = i" (mouseout)="mouseHoverIndex = -1">

        <span class="command-type">
          <span *ngIf="mouseHoverIndex !== i || mouseHoverIndex === 0"> {{control.value.type}}</span>
          <span *ngIf="mouseHoverIndex === i && mouseHoverIndex !== 0" (click)="deleteCommand(i, $event)">🗑️</span>
        </span>

        <div formArrayName="coords" class="coords-list">
          <div class="point-coords-input"
            *ngFor="let p of getAsFormArray(control.get('coords')!).controls; let i = index" formGroupName="{{i}}">
            <input type="number" formControlName="x" (click)="$event.stopPropagation()">
            <input type="number" formControlName="y" (click)="$event.stopPropagation()">
          </div>
        </div>
      </label>
    </div>
  </form>
</app-collapsible>