<form class="attribute-group" (submit)="$event.preventDefault()">
  <label class="label-and-control" (click)="showColorPickerDialog(colorPickerDialog, 'stroke')">
    <span class="label">STROKE</span>
    <div class="color-picker-invoker" [style]="{ backgroundColor: formsService.strokeForm.value }"></div>
  </label>

  @if (!(shapeSelectorIsLine || selectedShapeIsLine)) {
    <label class="label-and-control" (click)="showColorPickerDialog(colorPickerDialog, 'fill')">
      <span class="label">FILL</span>
      <div class="color-picker-invoker" [style]="{ backgroundColor: formsService.fillForm.value }"></div>
    </label>
  }

  <dialog class="color-picker-dialog" #colorPickerDialog>
    <div class="content">
      <button class="close-dialog-button" (click)="colorPickerDialog.close()"></button>

      <jei-color-picker [formControl]="colorPickerForm"></jei-color-picker>
    </div>
  </dialog>

  <label class="label-and-control">
    <span class="label">STROKE-WIDTH</span>
    <div class="stroke-width-control">
      <svg viewBox="0 0 60 35">
        <line x1="15" y1="17" x2="45" y2="17" stroke="black" [attr.stroke-width]="formsService.strokeWidthForm.value" stroke-linecap="round"></line>
      </svg>

      <input type="text" [formControl]="formsService.strokeWidthForm" jeiInputNumber [maxDecimalDigits]="3" [min]="0" />
    </div>
  </label>
</form>

@if (selectedShapeIsRect) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="app-control-label">X</span>
      <input type="text" jeiInputNumber [formControl]="formsService.xForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">Y</span>
      <input type="text" jeiInputNumber [formControl]="formsService.yForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">WIDTH</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.widthForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">HEIGHT</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.heightForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">RX</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.rxForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">RY</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.ryForm" />
    </label>
  </form>
}

@if (selectedShapeIsLine) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="app-control-label">X1</span>
      <input type="text" jeiInputNumber [formControl]="formsService.x1Form" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">Y1</span>
      <input type="text" jeiInputNumber [formControl]="formsService.y1Form" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">X2</span>
      <input type="text" jeiInputNumber [formControl]="formsService.x2Form" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">Y2</span>
      <input type="text" jeiInputNumber [formControl]="formsService.y2Form" />
    </label>
  </form>
}

@if (selectedShapeIsPath) {
  <form class="attribute-group attribute-group--path" (submit)="$event.preventDefault()">
    @for (commandControl of formsService.dForm.controls; track commandControl; let i = $index) {
      <label [formGroup]="commandControl" class="command" (mouseenter)="mouseHoverIndex = i" (mouseleave)="mouseHoverIndex = -i">
        <div class="command-type">
          @if (mouseHoverIndex !== i || mouseHoverIndex === 0) {
            <span>{{ commandControl.value.instruction }}</span>
          }
          @if (mouseHoverIndex === i && mouseHoverIndex !== 0) {
            <span (click)="deleteCommand(i, $event)">🗑️</span>
          }
        </div>
        <div formArrayName="coords" class="coords-list">
          @for (p of commandControl.controls.coords.controls; track p; let i = $index) {
            <div class="point-coords-input" formGroupName="{{ i }}">
              <input type="text" jeiInputNumber formControlName="x" />
              <input type="text" jeiInputNumber formControlName="y" />
            </div>
          }
        </div>
      </label>
    }
  </form>
}

@if (selectedShapeIsCircle) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="app-control-label">CX</span>
      <input type="text" jeiInputNumber [formControl]="formsService.cxForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">CY</span>
      <input type="text" jeiInputNumber [formControl]="formsService.cyForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">R</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.rForm" />
    </label>
  </form>
}

@if (selectedShapeIsText) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="app-control-label">X</span>
      <input type="text" jeiInputNumber [formControl]="formsService.xForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">Y</span>
      <input type="text" jeiInputNumber [formControl]="formsService.yForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">TEXT</span>
      <input type="text" [formControl]="formsService.textForm" />
    </label>

    <label class="label-and-control">
      <span class="app-control-label">FONT SIZE</span>
      <input type="text" jeiInputNumber [min]="0" [shiftStep]="3" [formControl]="formsService.fontSizeForm" />
    </label>
  </form>
}
