<form class="attribute-group" (submit)="$event.preventDefault()">
  <!-- MARK: colorpicker -->
  <label class="label-and-control" (click)="showColorPickerDialog(colorPickerDialog, 'stroke')">
    <span class="label">STROKE</span>
    <div class="color-picker-invoker" [style]="{ backgroundColor: formsService.strokeForm.value }"></div>
  </label>

  @if (!(shapeSelectorIsLine || selectedShapeIsLine)) {
    <label class="label-and-control" (click)="showColorPickerDialog(colorPickerDialog, 'fill')">
      <span class="label">FILL</span>
      <div class="color-picker-invoker" [style]="{ backgroundColor: formsService.fillForm.value }"></div>
    </label>
  }

  <dialog class="color-picker-dialog" [class.backdrop-transparent]="isUsingEyeDropper" #colorPickerDialog cdkDrag>
    <div class="content">
      <div class="header">
        <svg appBurgerSvg color="black" class="drag-dialog-handler" cdkDragHandle></svg>
        <div class="title">
          <button [class.selected]="colorPickerForm === this.formsService.strokeForm" (click)="showColorPickerDialog(colorPickerDialog, 'stroke')">STROKE</button>
          <button [class.selected]="colorPickerForm === this.formsService.fillForm" (click)="showColorPickerDialog(colorPickerDialog, 'fill')">FILL</button>
        </div>
        <svg appPlusSvg class="close-dialog-button" (click)="colorPickerDialog.close()"></svg>
      </div>

      <jei-color-picker [formControl]="colorPickerForm" (eyeDropperStart)="isUsingEyeDropper = true" (eyeDropperEnd)="isUsingEyeDropper = false"></jei-color-picker>
    </div>
  </dialog>

  <!-- MARK: strokewidth -->
  <label class="label-and-control">
    <span class="label">STROKE-WIDTH</span>
    <div class="stroke-width-control">
      <svg viewBox="0 0 60 35">
        <line x1="15" y1="17" x2="45" y2="17" stroke="black" [attr.stroke-width]="formsService.strokeWidthForm.value" stroke-linecap="round"></line>
      </svg>

      <input type="text" [formControl]="formsService.strokeWidthForm" jeiInputNumber [maxDecimalDigits]="3" [min]="0" />
    </div>
  </label>

  <!-- MARK: linecap -->
  @if (shapeSelectorIsLine || shapeSelectorIsPath || shapeSelectorIsText || selectedShapeIsLine || selectedShapeIsPath || selectedShapeIsText) {
    <label class="label-and-control">
      <span class="label">STROKE-LINECAP</span>
      <div class="stroke-linecap-control">
        <select [formControl]="formsService.strokeLinecapForm">
          <option value="butt">butt</option>
          <option value="round">round</option>
          <option value="square">square</option>
        </select>
      </div>
    </label>
  }

  <!-- MARK: linejoin -->
  @if (shapeSelectorIsRect || shapeSelectorIsPath || shapeSelectorIsText || selectedShapeIsRect || selectedShapeIsPath || selectedShapeIsText) {
    <label class="label-and-control">
      <span class="label">STROKE-LINEJOIN</span>
      <div class="stroke-linejoin-control">
        <select [formControl]="formsService.strokeLinejoinForm">
          <option value="bevel">bevel</option>
          <option value="miter">miter</option>
          <option value="round">round</option>
        </select>
      </div>
    </label>
  }

  <!-- MARK: dasharray -->
  <label class="label-and-control">
    <span class="label">STROKE-DASHARRAY</span>
    <div class="stroke-dasharray-control">
      @for (control of formsService.strokeDasharrayForm.controls; track control; let i = $index) {
        <div class="input-container">
          <input type="text" jeiInputNumber [formControl]="control" />
          <svg appTrashCanSvg color="black" class="delete" (click)="deleteStrokeDasharray(i)"></svg>
        </div>
      }
      <button class="add-dasharray-button" (click)="addNewStrokeDasharray()">+</button>
    </div>
  </label>
</form>

<!-- MARK: Rect -->
@if (selectedShapeIsRect) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="label">X</span>
      <input type="text" jeiInputNumber [formControl]="formsService.xForm" />
    </label>

    <label class="label-and-control">
      <span class="label">Y</span>
      <input type="text" jeiInputNumber [formControl]="formsService.yForm" />
    </label>

    <label class="label-and-control">
      <span class="label">WIDTH</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.widthForm" />
    </label>

    <label class="label-and-control">
      <span class="label">HEIGHT</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.heightForm" />
    </label>

    <label class="label-and-control">
      <span class="label">RX</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.rxForm" />
    </label>

    <label class="label-and-control">
      <span class="label">RY</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.ryForm" />
    </label>
  </form>
}

<!-- MARK: Line -->
@if (selectedShapeIsLine) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="label">X1</span>
      <input type="text" jeiInputNumber [formControl]="formsService.x1Form" />
    </label>

    <label class="label-and-control">
      <span class="label">Y1</span>
      <input type="text" jeiInputNumber [formControl]="formsService.y1Form" />
    </label>

    <label class="label-and-control">
      <span class="label">X2</span>
      <input type="text" jeiInputNumber [formControl]="formsService.x2Form" />
    </label>

    <label class="label-and-control">
      <span class="label">Y2</span>
      <input type="text" jeiInputNumber [formControl]="formsService.y2Form" />
    </label>
  </form>
}

<!-- MARK: Path -->
@if (selectedShapeIsPath) {
  <form class="attribute-group attribute-group--path" (submit)="$event.preventDefault()">
    @for (commandControl of formsService.dForm.controls; track commandControl; let cmdi = $index) {
      <label [formGroup]="commandControl" class="command" (mouseenter)="indexOfCommandWithMouseOver = cmdi" (mouseleave)="indexOfCommandWithMouseOver = -1">
        <div class="instruction" (mouseenter)="mouseOverInstruction = cmdi" (mouseleave)="mouseOverInstruction = -1">
          <!-- instruction -->
          @if (indexOfCommandWithMouseOver === cmdi) {
            <svg appBurgerSvg class="burger-icon"></svg>
          } @else {
            <span>{{ commandControl.value.instruction }}</span>
          }

          <!-- contextual menu when hovering the instruction -->
          @if (mouseOverInstruction === cmdi) {
            <div class="context-menu context-menu--command">
              <!-- convert to relative/absolute -->
              @if (commandControl.value.instruction?.toUpperCase() === commandControl.value.instruction) {
                <div class="option" (click)="convertoToRelative(commandControl)">Convertir a relativa</div>
              } @else {
                <div class="option" (click)="convertoToAbsolute(commandControl)">Convertir a absoluta</div>
              }

              <!-- delete -->
              @if (cmdi !== 0) {
                <div class="option" (click)="deleteCommand(cmdi)">Eliminar</div>
              }
            </div>
          }
        </div>

        <!-- parameters list -->
        <div formArrayName="parameters" class="parameters-list" [ngClass]="'parameters-list-' + commandControl.value.instruction?.toLowerCase()">
          @if (['Z', 'z'].includes(commandControl.controls.instruction.value)) {
            <!-- z does not have parameters -->
            <svg appPlusSvg color="red" class="add-icon add-icon--z"></svg>
          }

          @for (p of commandControl.controls.parameters.controls; track p; let parmi = $index) {
            @if (parmi % NUMBER_OF_PARAMETERS_PER_COLUMN[commandControl.controls.instruction.value] === 0) {
              <!-- first item of each line -->
              <svg appPlusSvg color="red" class="add-icon"></svg>
            }

            <input
              type="text"
              jeiInputNumber
              [formControlName]="parmi"
              [class.point-highlighted]="highlightInputPoint(cmdi, parmi)"
              [ngClass]="'shape-' + commandControl.value.instruction?.toLowerCase()"
              (mouseenter)="mouseEnterInputPoint(cmdi, parmi)"
              (mouseleave)="mouseLeaveInputPoint()"
            />

            @if ((parmi + 1) % COMMAND_SEGMENT_LENGTH[commandControl.controls.instruction.value] === 0) {
              <!-- after each segment of parameters for the instruction -->
              <svg appPlusSvg color="red" class="add-icon"></svg>
            }
          }
        </div>
      </label>
    }
  </form>
}

<!-- MARK: Circle -->
@if (selectedShapeIsCircle) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="label">CX</span>
      <input type="text" jeiInputNumber [formControl]="formsService.cxForm" />
    </label>

    <label class="label-and-control">
      <span class="label">CY</span>
      <input type="text" jeiInputNumber [formControl]="formsService.cyForm" />
    </label>

    <label class="label-and-control">
      <span class="label">R</span>
      <input type="text" jeiInputNumber [min]="0" [formControl]="formsService.rForm" />
    </label>
  </form>
}

<!-- MARK: Text -->
@if (selectedShapeIsText) {
  <form class="attribute-group" (submit)="$event.preventDefault()">
    <label class="label-and-control">
      <span class="label">X</span>
      <input type="text" jeiInputNumber [formControl]="formsService.xForm" />
    </label>

    <label class="label-and-control">
      <span class="label">Y</span>
      <input type="text" jeiInputNumber [formControl]="formsService.yForm" />
    </label>

    <label class="label-and-control">
      <span class="label">TEXT</span>
      <input type="text" [formControl]="formsService.textForm" />
    </label>

    <label class="label-and-control">
      <span class="label">FONT SIZE</span>
      <input type="text" jeiInputNumber [min]="0" [shiftStep]="3" [formControl]="formsService.fontSizeForm" />
    </label>

    <label class="label-and-control">
      <span class="label">FONT FAMILY</span>
      <div class="font-family-control">
        <select [formControl]="formsService.fontFamilyForm">
          @for (font of FONTS_LIST; track $index) {
            <option [value]="font">{{ font }}</option>
          }
        </select>
      </div>
    </label>
  </form>
}
