:host {
  --padding: 20px;

  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border: var(--border);
  border-radius: 5px;
  padding: var(--padding);
  max-height: 50%;
  overflow: auto;
  flex-shrink: 0;
}

.menu {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  white-space: nowrap;

  .option {
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: gainsboro;
    }

    &:not(:last-child) {
      border-bottom: var(--border);
    }
  }
}

.attribute-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding);

  &--path {
    flex-direction: column;
    gap: 15px;

    .command {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;

      .instruction {
        position: relative;
        width: 25px;
        padding: 14px 3px 0px 3px;

        .burger-icon {
          width: 80%;
          cursor: pointer;
        }
      }

      .parameters-list {
        display: grid;
        row-gap: 10px;
        column-gap: 5px;

        &-m,
        &-l,
        &-t {
          grid-template-columns: repeat(10, auto);
        }

        &-c {
          grid-template-columns: auto 2fr 3fr 2fr 3fr 2fr 2fr auto;
        }

        &-h,
        &-v {
          grid-template-columns: repeat(11, auto);
        }

        &-s,
        &-q {
          grid-template-columns: auto 2fr 3fr 2fr 2fr auto;
        }

        &-a {
          grid-template-columns: repeat(9, auto);
        }

        .add-icon {
          width: 10px;
          align-self: center;
          border: 2px solid red;
          padding: 4px;
          border-radius: 50%;
          opacity: 0;
          cursor: pointer;

          &--z {
            margin-top: 14px;
          }

          &--hidden {
            visibility: hidden;
          }

          &:hover {
            opacity: 1;
          }
        }

        .input-wrapper {
          position: relative;

          input[jeiInputNumber] {
            width: 45px;
            padding: 0;
            outline: none;

            &.point-highlighted {
              border-color: #0f0;
              border-width: 2px;

              &:focus {
                border-color: #0e0;
                border-width: 3px;
              }
            }
          }

          .delete-icon {
            width: 15px;
            padding: 1px;
            border-radius: 50%;
            position: absolute;
            bottom: 100%;
            left: 100%;
            transform: translate(-50%, 50%) rotate(45deg);
            transform-origin: center center;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.label-and-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #595959;
  }
}

.color-picker-invoker {
  width: 35px;
  height: 35px;
  border: 1px solid #595959;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.color-picker-dialog {
  border-radius: 5px;
  width: 375px;

  &.backdrop-transparent::backdrop {
    background-color: transparent;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;

      .drag-dialog-handler {
        width: 25px;
        cursor: move;
      }

      .title {
        display: flex;
        gap: 10px;

        button {
          border: none;
          border-radius: 5px;
          background-color: transparent;
          font-size: 1rem;
          font-weight: bold;
          padding: 10px;
          cursor: pointer;

          &.selected {
            border: 2px solid black;
            background-color: #f9f9f9;
          }
        }
      }

      .close-dialog-button {
        transform: rotate(45deg);
        width: 25px;
        cursor: pointer;
      }
    }
  }
}

.stroke-width-control {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 60px;
    height: 35px;
  }

  input[type="text"][jeiInputNumber] {
    width: 60px;
    height: 35px;
  }
}

.stroke-linecap-control,
.stroke-linejoin-control,
.font-family-control {
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  padding: 5px;

  &:focus-within {
    border: 2px solid black;
  }

  select {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    background-color: transparent;
  }
}

.stroke-dasharray-control {
  display: flex;
  gap: 5px;

  .input-container {
    position: relative;

    input[type="text"][jeiInputNumber] {
      width: 36px;
      height: 36px;
    }

    .delete {
      display: none;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &:hover .delete {
      display: block;
    }
  }

  .add-dasharray-button {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: var(--border);
  }
}
