:host {
  --padding: 20px;

  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border: var(--border);
  border-radius: 5px;
  padding: var(--padding);
  max-height: 50%;
  overflow: auto;
  flex-shrink: 0;
}

.attribute-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding);

  &--path {
    flex-direction: column;
    gap: 15px;

    .command {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;

      .instruction {
        min-width: 25px;
        padding-top: 14px;
        cursor: pointer;
      }

      .parameters-list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        input[jeiInputNumber] {
          width: 45px;
          padding: 0;
          outline: none;

          &:not(.shape-a, .shape-h, .shape-v):nth-child(2n) {
            margin-right: 28px;
          }

          &.point-highlighted {
            border-color: #0f0;
            border-width: 2px;

            &:focus {
              border-color: #0e0;
              border-width: 3px;
            }
          }
        }
      }
    }
  }
}

.label-and-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #595959;
  }
}

.color-picker-invoker {
  width: 35px;
  height: 35px;
  border: 1px solid #595959;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.color-picker-dialog {
  border-radius: 5px;
  width: 375px;

  &.backdrop-transparent::backdrop {
    background-color: transparent;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;

      .drag-dialog-handler {
        width: 25px;
        cursor: move;
      }

      .title {
        display: flex;
        gap: 10px;

        button {
          border: none;
          border-radius: 5px;
          background-color: transparent;
          font-size: 1rem;
          font-weight: bold;
          padding: 10px;
          cursor: pointer;

          &.selected {
            border: 2px solid black;
            background-color: #f9f9f9;
          }
        }
      }

      .close-dialog-button {
        transform: rotate(45deg);
        width: 25px;
        cursor: pointer;
      }
    }
  }
}

.stroke-width-control {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 60px;
    height: 35px;
  }

  input[type="text"][jeiInputNumber] {
    width: 60px;
    height: 35px;
  }
}

.stroke-linecap-control,
.stroke-linejoin-control,
.font-family-control {
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  padding: 5px;

  &:focus-within {
    border: 2px solid black;
  }

  select {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    background-color: transparent;
  }
}

.stroke-dasharray-control {
  display: flex;
  gap: 5px;

  .input-container {
    position: relative;

    input[type="text"][jeiInputNumber] {
      width: 36px;
      height: 36px;
    }

    .delete {
      display: none;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &:hover .delete {
      display: block;
    }
  }

  .add-dasharray-button {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: var(--border);
  }
}
